export(write.SDisc,texTable,summary.SDisc,summary.SDData,summary.SDCModel,summary.bicTable,SDStability,SDisc.default,SDDataSettings,SDData.default,print.SDisc,print.SDData,print.SDCModel,print.bicTable,predict.SDisc,predict.SDData,plot.SDStability,plot.SDisc,plot.SDData,naPattern,modelBasedEM,bicTable.default,bestModel,agreementScores,expDesign,paste2,SDisc,SDData,bicTable,SDiscReportHead)
