export(write.SDisc,texTable,summary.SDisc,summary.SDData,summary.SDCModel,summary.bicTable,SDStability,SDisc,SDDataSettings,SDData,print.SDisc,print.SDData,print.SDCModel,print.bicTable,predict.SDisc,predict.SDData,plot.SDStability,plot.SDisc,plot.SDData,naPattern,modelBasedEM,bicTable,bestModel,agreementScores,expDesign,paste2)
